*{
    background-color: rgb(20, 31, 35);
    color: white;
}

.cont {
    margin-top: 5%;
    display: flex;
    justify-content: center;
}

.marc {
    padding: 0% 3% 0% 1%;
    border: 1px solid rgb(56, 70, 79);
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.inp{
    border: 1px solid blanchedalmond;
    border-radius: 5px;
}

.btn{
    background-color: rgb(147, 211, 52);
    color: rgb(20, 31, 35);
    border: 1px solid rgb(122, 185, 52);    
    border-radius: 5px;
    cursor: cell;
}

.abtn1{
    background-color: rgb(147, 211, 52);
    border: 1px solid rgb(122, 185, 52); 
    color: rgb(20, 31, 35);
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.abtn2{
    display: block;
    height: 17px;
    width: 80px;
/*     background-color: rgb(73, 192, 248);
    border: 1px solid rgb(24, 152, 213);  */
    background-color: rgb(255, 75, 76);
    border: 1px solid rgb(216, 72, 72);   
    color: rgb(20, 31, 35);
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.btnd{
    padding: 2px;
    background-color: rgb(255, 75, 76);
    border: 1px solid rgb(216, 72, 72);   
    border-radius: 5px;
    color: rgb(20, 31, 35);
    cursor: cell;
    text-decoration: none;
}

.ln{
    display: flex;
    justify-content: space-between;
}

li {
    color: rgb(73, 192, 248);
}

.homemenu{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}